Checks: >
  -*,
  bugprone-branch-clone,
  bugprone-macro-parentheses,
  clang-analyzer-core.CallAndMessage,
  clang-analyzer-core.DivideZero,
  clang-analyzer-core.NonNullParamChecker,
  clang-analyzer-core.NullDereference,
  clang-analyzer-core.StackAddressEscape,
  clang-analyzer-core.UndefinedBinaryOperatorResult,
  clang-analyzer-core.VLASize,
  clang-analyzer-core.uninitialized.Assign,
  clang-analyzer-core.uninitialized.Branch,
  clang-analyzer-core.uninitialized.CapturedBlockVariable,
  clang-analyzer-core.uninitialized.UndefReturn,
  clang-analyzer-deadcode.DeadStores
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|.*/)(include|src)/'
ExcludeHeaderFilterRegex: '(^|.*/)\.pio/'
FormatStyle: none
SystemHeaders: false
